<template>
  <div id="app">
    <vuetable
      ref="vuetable"
      :api-mode="false"
      :fields="fields"
      :per-page="perPage"
      :data-manager="dataManager"
      :css="csstable"
      pagination-path="pagination"
      @vuetable:pagination-data="onPaginationData"
    >
    </vuetable>
    <div style="padding-top: 10px">
      <vuetable-pagination
        ref="pagination"
        :css="csspagination"
        @vuetable-pagination:change-page="onChangePage"
      ></vuetable-pagination>
    </div>
    <div style="padding-top: 10px">
      <p>Total Seluruh Hit : {{ totalHits }}</p>
    </div>
  </div>
</template>

<script>
import Vuetable from "vuetable-2";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import FieldsDef from "./FieldsDef.js";
import axios from "axios";
import _ from "lodash";

export default {
  name: "TableLog",
  components: {
    Vuetable,
    VuetablePagination,
  },

  data() {
    return {
      fields: FieldsDef,
      perPage: 5,
      data: [],
      totalHits: 0,
      csstable: {
        tableWrapper: "",
        tableHeaderClass: "mb-0",
        tableBodyClass: "mb-0",
        tableClass: "table table-striped table-hover text-center",
        loadingClass: "loading",
        detailRowClass: "vuetable-detail-row",
      },
      csspagination: {
        infoClass: "pull-left",
        wrapperClass: "vuetable-pagination pull-right",
        activeClass: "btn-primary",
        disabledClass: "disabled",
        pageClass: "btn btn-border",
        linkClass: "btn btn-border",
        icons: {
          first: "",
          prev: "",
          next: "",
          last: "",
        },
      },
    };
  },

  watch: {
    // eslint-disable-next-line no-unused-vars
    data(newVal, oldVal) {
      this.$refs.vuetable.refresh();
    },
  },

  mounted() {
    setInterval(()=>{this.getData();}, 5000);
  },

  methods: {
    getData(){
      axios
      .get("https://my-json-server.typicode.com/HendP/fake-api/data")
      .then((response) => {        
        if(this.data.length==0){
          this.data = response.data;
          let temp = this.data.reduce(
            (sums, obj) =>
              Object.keys(obj).reduce((s, k) => {
                k === "tanggal" || (s[k] = (s[k] || 0) + +obj[k]);
                return s;
              }, sums),
            {}
          );
          this.totalHits = temp.total;
        }else{
            let temp;
            if(this.data.length==response.data.length){              
              this.totalHits+=(response.data[response.data.length-1].total-this.data[this.data.length-1].total);                   
              for(temp of Object.keys(this.data[0])){
                this.data[this.data.length-1][temp]=response.data[response.data.length-1][temp];
              }
            }else{              
              this.totalHits+=response.data[response.data.length-1].total;
              this.data.push(response.data[response.data.length-1]);
            }                                    
        }        
      });
    },
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
    dataManager(sortOrder, pagination) {
      if (this.data.length < 1) return;

      let local = this.data;

      // sortOrder can be empty, so we have to check for that as well
      if (sortOrder.length > 0) {
        console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        );
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      );
      console.log("pagination:", pagination);
      let from = pagination.from - 1;
      let to = from + this.perPage;

      return {
        pagination: pagination,
        data: _.slice(local, from, to),
      };
    },
  },
};
</script>
