<template>
  <div id="app">
    <b-container fluid>
      <b-row>
        <b-col>
          <h1 class="text-center">Boost Report</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col col lg="9" md="9" sm="12">
          <TableLog />
        </b-col>
        <b-col col lg="3" md="3" sm="12">
          <PieChart />
        </b-col>
      </b-row>
      <b-row class="justify-content-md-center">
        <b-col col lg="12" md="12" sm="12">
          <LineChart />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import TableLog from "./components/TableLog.vue";
import PieChart from "./components/PieChart.vue";
import LineChart from "./components/LineChart.vue";

export default {
  name: "App",
  components: {
    TableLog,
    PieChart,
    LineChart,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 15px;
  margin: 15px;
}
</style>

